body {
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo {
    background-color: #1f87c4;
}

#menu ul li:hover {
    background-color: #1f87c4;
}

.btn-more {
    background: #1f87c4;
}

#logout,
#logout:visited {
    color: #1f87c4;
}


#acordeon h3 {
    background: #1f87c4;
    border: 1px solid #1f87c4;
}